{% extends 'base.html' %}

{% block header_text %}Your Todo list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <table id="id_task_table" class="table">
        {% for task in list.task_set.all %}
            <tr>
                <td>{{ forloop.counter }}: {{ task.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block extra_content %}
    {% if user.email %}

        <div class="row">
            <div class="col-md-6">
                <h4>Shared with</h4>
                <ul>
                    {% for user in list.shared_with.all %}
                        <li class="list-share">{{ user.email }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <form method="post" action="{% url 'share_list' list.id %}">
                    <div class="form-group">
                        <h4>Share</h4>
                        <input class="form-control" name="share" type="text" placeholder="your-friend@example.com"/> {% csrf_token %}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}